* {
    margin: 0;
    padding: 0;
}

.container {
    width: 950px;
    margin: 0 auto;
}

#menu { 
    margin-top: 15%;
}

.ui-state-default {
    background: none;
    background-color: rgb(0, 0, 255);
    color: #FFF;
    padding: 5px 0 5px 20px;
}